<h2>Your Recipe: <%= @recipe.content %></h2>
<ol>
  <li><h4><%= @recipe.recipe_first_ingredient %></h4></li>
  <li><h4><%= @recipe.recipe_second_ingredient %></h4></li>
  <li><h4><%= @recipe.recipe_third_ingredient %></h4></li>
  <li><h4><%= @recipe.recipe_fourth_ingredient %></h4></li></ol>
<p><i>"<%= @recipe.instructions %>"</i></p>
<p><%= @recipe.formatted_created_at %></p>
<h4><a href="/recipes/<%=@recipe.id%>/edit">Edit</a></h4>
<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="Delete Recipe" type="submit" value="Delete Recipe">
</form>
