<h2>Your Kitchen Inventory<h2>
  <h3>Fridge & Freezer </h3>
  <% @ingredients.each do |ingredient|%>
      <% if ingredient.user_id == current_user.id && ingredient.fridge_freezer_item != ""%>
        <li><%= ingredient.fridge_freezer_item %>  <a href="/ingredients/<%=ingredient.id%>/delete">delete</a></li>
      <% end %>
  <% end %>
  <br>
  <h3> Pantry </h3>
  <% @ingredients.each do |ingredient|%>
    <% if ingredient.user_id == current_user.id && ingredient.pantry_item != ""%>
      <li><%= ingredient.pantry_item %>  <a href="/ingredients/<%=ingredient.id%>/delete">delete</a></li>
    <% end %>
  <% end %>
  <br>
  <h3>Spice Cabinet</h3>
  <% @ingredients.each do |ingredient|%>
    <% if ingredient.user_id == current_user.id && ingredient.spice_cabinet_item != ""%>
      <li><%= ingredient.spice_cabinet_item %>  <a href="/ingredients/<%=ingredient.id%>/delete">delete</a></li>
    <% end %>
  <% end %>
  <a href="/ingredients/new">Add New Ingredients</a>
